section.first_screen(style="background-image: url("+dir+"bg.png)")
   .container

       .d_flex
           .text_block
               h1 Высшее образование<br> Дистанционно <br>Без выезда<br> за пределы РБ
               .sub_title Хотите получить <span class="text_uppercase">бесплатную консультацию</span> и совет от специалиста? Свяжитесь с нами
           img.girl(src=dir+"girl.png")
           .form_block
               .form_block_title Заполните форму, и мы свяжемся с Вами в ближайшее время
               form
                   .c_form
                       .field
                            input.form_control(type="text" placeholder="Ваше имя")
                       .field
                            input.form_control(type="text" placeholder="Телефон")
                       .field
                            input.form_control(type="text" placeholder="E-mail")
                       .field
                           .checkbox
                               input(type="checkbox" id="aggree" checked)
                               label(for="aggree") Отправляя заявку, вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                       .field
                           button.btn_default(type="submit") Оставить заявку


section.m_form_block
    .container
        .form_block
            .form_block_title Заполните форму, и мы свяжемся с Вами в ближайшее время
            form
                .c_form
                    .field
                        input.form_control(type="text" placeholder="Ваше имя")
                    .field
                        input.form_control(type="text" placeholder="Телефон")
                    .field
                        input.form_control(type="text" placeholder="E-mail")
                    .field
                        .checkbox
                            input(type="checkbox" id="aggree1" checked)
                            label(for="aggree1") Отправляя заявку, вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                    .field
                        button.btn_default(type="submit") Оставить заявку


-var tabs=['БАКАЛАВРИАТ','СПЕЦИАЛИТЕТ','КОЛЛЕДЖ','МАГИСТРАТУРА'];
section.section_tabs.bg_grey
    .container
        .section_title Специальности
        .tabs_block
            .tabs_nav
                for tabs_item , index in tabs
                    .tab_item(class=(index===0)?'active':'')=tabs_item
            .tabs_content_list
                -for(var t=0;t<=3;t++)
                    .tabs_content_item(class=(t===0)?'active':'')
                        .m_tab_item(class=(t===0)?'':'')=tabs[t]
                        .tabs_content_body
                            -for(var g=1;g<=5;g++)
                                .specialty_group
                                    if g===1
                                         .g_title Высшее образование: #{t}
                                    .specialty_title Менеджмент:
                                    ul
                                        if g===2
                                            -for(var l=1;l<=6;l++)
                                                li Управление человеческими ресурсами
                                        else if g===4
                                            -for (var l = 1; l <= 2; l++)
                                                li Теория и методика преподавания иностранных языков и культур (англ.+нем./франц.)
                                        else
                                            -for (var l = 1; l <= 3; l++)
                                               li Коммерция


section.section_price
    .container
        .section_title Стоимость
        .sub_title Стоимость обучения является неизменной в течение всего периода обучения

        .products_list
            -for(var p=1;p<=4;p++)
                .item
                    .product_item
                        picture
                            img(src=dir+"product_logo.svg")
                        .product_title Московский международный университет
                        .product_price
                            span.s_title Стоимость:
                            .price_row
                                .current_price 26 000 ₽
                                .old_price 30 000 ₽
                        .product_equivalent
                            span.s_title Эквивалент:
                            p (955 BYN / 1100 BYN за семестр)
                        a.btn_default(href="#") Перейти на сайт




section.suggestions
    .container

        .d_flex
            .left_col
                img(src=dir+'icon_st.svg')
                .title Вы можете стать студентом уже сейчас!
                ul
                    li <span>Открыт приём документов на очередной поток</span>
                    li <span>Оформить документы вы можете прямо сейчас</span>
                    li <span>Начало занятий очередных потоков: <strong>01 октября 2022</strong> <strong>01 июля 2022 (МосАП)</strong> Идёт приём!</span>
                    li <span>Стоимость обучения сегодня <strong>от 700 бел. руб. за семестр</strong></span>

            .right_col
                img.union(src=dir+"union.png")
                img(src=dir+"sale.svg")
                .title Мы подготовили<br> <span class="text_uppercase">лучшие предложения</span> для вас
                .suggestions_row
                    .item
                        .item_title <strong>-30%</strong> при оформлении документов до 01 июня
                        .item_desc Оформляйте документы до 01 июня и получайте скидку на обучение до  30%
                    .item
                        .item_title <strong>-30%</strong><br> на первую оплату
                        .item_desc Скидки абитуриентам на первую оплату (ММУ) при оформлении документов до 31 мая – 30%
                    .item
                        .item_title <strong>Скидки</strong> при единовременной оплате двух и более семестров
                        .item_desc Скидки в оплате за обучение для абитуриентов в размере 3000 рос. руб. при единовременной оплате двух и более семестров (МФЮА)
                    .item
                        .item_title <strong>-40%</strong> при освоении нескольких образовательных программ
                        .item_desc Скидки в оплате за обучение для абитуриентов в размере 40% от годовой стоимости обучения при одновременном освоении нескольких образовательных программ (МФЮА)





section.terms.bg_grey
    .container
        .section_title Сроки обучения
        .sub_title Сроки заочного (дистанционного) обучения зависят от уровня Вашего базового образования и выбранной Вами ступени подготовки (высшее или среднее специальное образование), а именно:
        .scroll_block
            table
                thead
                    tr
                        td(colspan=7) Высшее образование
                tbody
                    tr
                        -for (var td = 1; td <= 7; td++)
                            if td === 1
                                td
                            else if td === 2
                                td Базовое образование
                            else if td === 3
                                td Уровень высшего образования
                            else if td === 4
                                td ММУ
                            else if td === 5
                                td МосАП
                            else if td === 6
                                td МФЮА
                            else if td === 7
                                td МЮИ
                    -for(var tr=1;tr<=5;tr++)
                        tr
                            -for(var td=1;td<=7;td++)

                                if td===1
                                    td #{tr}
                                else if td===2
                                    td Среднее специальное, высшее образование
                                else if td===3
                                    td бакалавриат
                                else if td===4
                                    td 3 года 6 мес.
                                else if td===5
                                    td 3 года 6 мес.
                                else if td===6
                                    td 3 года 4 мес.
                                else if td===7
                                    td -

        .scroll_block
            table
                thead
                    tr
                        td(colspan=3) Высшее образование
                tbody
                    tr
                        -for (var td = 1; td <= 3; td++)
                            if td === 1
                                td
                            else if td === 2
                                td Базовое образование
                            else if td === 3
                                td Колледж Развития Инновационных Технологий (КРИТ)

                    -for (var tr = 1; tr <= 3; tr++)
                        tr
                            -for (var td = 1; td <= 3; td++)

                                if td === 1
                                    td #{tr}
                                else if td === 2
                                    td Среднее общее образование, 11 кл.
                                else if td === 3
                                    td от 1 года и 10 месяцев до 3 лет и 10 месяцев в зависимости от программы обучения



section.adv
    .container
        .section_title Преимущества дистанционного <br>и заочного обучения

        .adv_row
            .left_col
                .title Дистанционное обучение
                ul.adv_ilst
                    -for(var adv=1;adv<=10;adv++)
                        li Весь учебный процесс протекает с использованием Электронной Системы Дистанционного Обучения (ЭСДО).
            img.adv_img(src=dir+'adv_img.svg')
            img.adv_img_mobile(src=dir+'adv_img_mobile.svg')
            .right_col
                .title Заочное обучение
                ul.adv_ilst
                    -for (var adv = 1; adv <= 7; adv++)
                        li Дистанционное обучение тоже является заочным.
        button.show_all Показать все


section.about
    .container
        .d_flex
            .left_col
                .section_title.m_title О компании
                picture
                    img.about_logo(src=dir+'about_logo.png')
                    img.about_img(src=dir+'about_photo.png')
            .right_col
                .section_title О компании
                .about_sub_title Мы являемся официальными партнёрами следующих ВУЗов:
                .partners_list
                    -for(var i=1;i<=5;i++)
                        .item
                            picture
                                img(src=dir+"partners/"+i+".png")
                .about_txt Мы проводим работу по профессиональной ориентации жителей Республики Беларусь по выбору специальности, возможности поступления и обучения в ВУЗах–партнёрах. Наши услуги осуществляются на бесплатной основе для всех обратившихся

        .steps
            .title Схема работы:
            .steps_list
                .item
                    .txt Оставьте заявку для связи
                .item
                    .txt Получите консультацию от специалиста
                .item
                    .txt Приезжайте в офис и оформляйте документы <span>(для ММУ можно выбрать и полностью   дистанционный порядок оформления документов)</span>


-var n_serv=['не хотите проходить сложные вступительные процедуры?','не удалось пройти по конкурсу в выбранный вами вуз?','хотите поступить уже сегодня, не дожидаясь 1 сентября?','хотите получать 2 высших образования одновременно?','закончили колледж, училище, техникум?','закончили школу, лицей, гимназию?','уже есть высшее образование, но хотите поменять специальность?','Вы выпускник прошлых лет и не хотите тратить много времени на подготовку к ЦТ?']
section.need_serv
    .container
        .section_title Вам необходимы <br>наши услуги если:
        .need_serv
            for n_item, index in n_serv
                .item
                    .item_content
                        .counter=index+1
                        .desc=n_item


section.question_form.bg_grey
    .container
        .d_flex
            .left_col
                .title Есть вопросы? Задавайте!
                p Хотите получить <span class="text_uppercase">бесплатную консультацию</span> и совет специалиста?
                p Заполните форму, и мы свяжемся с Вами в ближайшее время
                .text_right
                    img(src=dir+"union6.png")

            .right_col
                .title Заполните форму, и мы свяжемся с Вами в ближайшее время
                form
                    .form_row
                        .field.w_50
                            label Ваше имя
                            input.form_control(type="text" placeholder="Иванов Иван Иванович")
                        .field.w_50
                            label Телефон
                            input.form_control(type="text" placeholder="+375 (__) ___ __ __")
                        .field.w_50
                            label E-mail
                            input.form_control(type="text" placeholder="ivanovivan@mail.ru")
                        .field.w_50
                            label
                            input.form_control(type="file")
                        .field.m_hide
                            label Сообщение
                            textarea.form_control(placeholder="Введите ваш вопрос")
                        .b_row
                            .field.w_50
                                .checkbox
                                    input(type="checkbox" id="aggree3" checked)
                                    label(for="aggree3") Отправляя заявку, вы даёте согласие на обработку персональных данных и соглашаетесь с политикой конфиденциальности.
                            .field.w_50
                                button.btn_default(type="submit") Оставить заявку





section.contacts
    .container
        .d_flex
            .left_col
                .section_title Контакты
                ul.c_list
                    li
                        a(href="tel:+375 (44) 709-82-57") +375 (44) 709-82-57
                    li
                        a(href="tel:+375 (29) 509-82-57") +375 (29) 509-82-57
                    li
                        a(href="tel:+375 (17) 227-99-90") +375 (17) 227-99-90
                    li.loc г. Минск, ул. Кальварийская, д. 16, офис 239.
                    li
                        a.email2(href="mailto:e-distant@e-distant.by") e-distant@e-distant.by
                    li
                        a.work(href="#") Время работы
            .right_col
                .map
                    img(src=dir+'image87.png')















